@{
    ViewData["Title"] = "Covid";
}

<div class="text-center">
    <h1 class="display-4">Covid-19</h1>
</div>

<div class="text-center">
    <a asp-action="InserirVacinado">
        <input type="button" value="Inserir Vacinado" class="btn btn-primary" />
    </a>
</div>

<div class="text-center">
    <a asp-action="CadastrarVacinador">
        <input type="button" value="Cadastrar Vacinador" class="btn btn-primary" />
    </a>
</div>



<div class="text-center">
    <!-- <iframe src="https://www.bing.com/covid/local/brazil" allowfullscreen height="800" width="1100"></iframe> -->
</div>