@using ProjetoEngSoftII.Models.Vacinas;

@model ProjetoEngSoftII.Models.ViewModels.InserirVacinadoViewModel

@{
    ViewData["Title"] = "InserirVacinado";
    var doses = Doses.GetDoses();
}

<h1>InserirVacinado</h1>

<h4>Vacinado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InserirVacinado">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vacinado.PacienteCpf" class="control-label"></label>
                <input asp-for="Vacinado.PacienteCpf" class="form-control" />
                <span asp-validation-for="Vacinado.PacienteCpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vacinado.DataVacinacao" class="control-label"></label>
                <input asp-for="Vacinado.DataVacinacao" class="form-control" />
                <span asp-validation-for="Vacinado.DataVacinacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vacinado.MarcaVacinaCovidId" class="control-label"></label>
                <select asp-for="Vacinado.MarcaVacinaCovidId" class ="form-control" asp-items="@(new SelectList(Model.MarcasVacinaCovid,"Id", "Marca"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="Vacinado.Dose" class="control-label"></label>
                <select asp-for="Vacinado.Dose" class="form-control" asp-items="@(new SelectList(doses))"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <div class="form-group">
            <button id="teste-button"> Teste botão </button>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-12" id="container-info-paciente-inserir-vacinado" style="background-color: green; display: none;">
            teste
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
