@using ProjetoEngSoftII.Models.Vacinas;

@model ProjetoEngSoftII.Models.ViewModels.InserirVacinadoViewModel

@{
    ViewData["Title"] = "Inserir Vacinado";
    var doses = Doses.GetDoses();
}

<h1>Inserir Vacinado</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="InserirVacinado">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Vacinado.PacienteCpf" class="control-label"></label>
                <input asp-for="Vacinado.PacienteCpf" id="cpf-vacinado" maxlength="14" class="form-control" />
                <span asp-validation-for="Vacinado.PacienteCpf" class="text-danger"></span>
            </div>
            <div id="container-inserir-vacinado" style="display: none;">
                <div class="form-group">
                    <label asp-for="Vacinado.DataVacinacao" class="control-label"></label>
                    <input asp-for="Vacinado.DataVacinacao" class="form-control" />
                    <span asp-validation-for="Vacinado.DataVacinacao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Vacinado.MarcaVacinaCovidId" class="control-label"></label>
                    <select asp-for="Vacinado.MarcaVacinaCovidId" class="form-control" asp-items="@(new SelectList(Model.MarcasVacinaCovid,"Id", "Marca"))"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Vacinado.Dose" class="control-label"></label>
                    <select asp-for="Vacinado.Dose" class="form-control" asp-items="@(new SelectList(doses))"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Vacinado.Lote" class="control-label"></label>
                    <input asp-for="Vacinado.Lote" class="form-control" />
                    <span asp-validation-for="Vacinado.Lote" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Vacinado.VacinadorRegistroProfissional" class="control-label"></label>
                    <input asp-for="Vacinado.VacinadorRegistroProfissional" class="form-control" />
                    <span asp-validation-for="Vacinado.VacinadorRegistroProfissional" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Concluir" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3" id="container-informacoes-paciente" style="display: none; border: 2px solid gray;">
        <br />
        <div class="form-group col-md-12">
            <label class="control-label">Nome</label>
            <input type="text" disabled class="form-control" value="" id="input-nome-paciente-inserir-vacinado" />
        </div>
        <div class="form-group col-md-12">
            <label class="control-label">RG</label>
            <input type="text" disabled class="form-control" value="" id="input-rg-paciente-inserir-vacinado" />
        </div>
        <div class="form-group col-md-12">
            <label class="control-label">CPF</label>
            <input type="text" disabled class="form-control" value="" id="input-cpf-paciente-inserir-vacinado" />
        </div>
        <div class="form-group col-md-12">
            <label class="control-label">CNS</label>
            <input type="text" disabled class="form-control" value="" id="input-cns-paciente-inserir-vacinado" />
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}