
@{
    ViewData["Title"] = "Sobre o projeto";
}

<h1>Sobre o projeto</h1>
<br />

<div class="text-center">
    <h5> Projeto desenvolvido para a disciplina de engenharia de software II - Unesp Bauru - 2021. </h5> <br />
    <p>
        Tem como objetivo desenvolver parte de um projeto que, neste caso, é um sistema voltado para a rede pública de saúde, onde é possível unificar consultas, vacinas, exames, etc. de pacientes em geral. <br /><br />
        Este projeto em específico possui uma implementação dedicada a pandemia da Covid-19, onde é possível inserir vacinados, vacinadores e emitir a carteira nacional de vacinação contra o vírus.
    </p>
</div>