@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <br />
    <h5> Projeto desenvolvido para a disciplina de engenharia de software II - Unesp Bauru - 2021. </h5> <br />
    <br />
</div>

<div class="text-center">
    <img src="https://www2.unesp.br/images/unesp-full-center.svg" alt="logo-unesp" width="800" height="300">
</div>
<br />
<div class="text-center">
    <img src="https://d2dxldo5hhj2zu.cloudfront.net/img/674x,jpeg/https://d3043uog1ad1l6.cloudfront.net/uploads/2020/03/photo-1584118624012-df056829fbd0.jpeg" alt="covid-19" width="800" height="400">
</div>